<div class="container">
    <!-- Header App -->
    <div class="row">
        <div class="twelve columns">
            <header>
                <h1>Recetas de AngularJS</h1>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="twelve columns">
            <!-- Barra de nav -->
            <nav class="barra-navegacion">
                <ul>
                    <li>
                        <a ng-link="['MisRecetas']">Mis Recetas</a>
                    </li>
                    <li>
                        <a ng-link="['NuevaReceta']">Nueva Receta</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Zona Dinámica -->
    <ng-outlet></ng-outlet>
</div>